.idea
.mvn
*.log
*.logs
*.iml
/target/
*.class
./cat/__pycache__/*
./cat/__pycache__/
./cat/config/__pycache__/*
./cat/config/__pycache__/
./cat/model/__pycache__/*
./cat/model/__pycache__/
./cat/preprocess/__pycache__/*
./cat/preprocess/__pycache__/
./cat/process/__pycache__/*
./cat/process/__pycache__/
./cat/test/__pycache__/*
./cat/test/__pycache__/
./cat/util/__pycache__/*
./cat/util/__pycache__/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
/01_mnist_classification_tf_1.x/.ipynb_checkpoints/
